body#nav {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #6107c7;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li:last-child {
    margin-right: 0;
}